[OAuth2] Implement Authorization Code Flow

[RFC 6749 section 4.1](https://tools.ietf.org/html/rfc6749#section-4.1)

This feature will require to have a page for authentication since we don't have cookie sessions on RESTful API by design.