[OAuth2] Implement Implicit Flow

[RFC 6749 section 4.2](https://tools.ietf.org/html/rfc6749#section-4.2)

This feature will require to have a page for authentication since we don't have cookie sessions on RESTful API by design, just like in #3.