[OAuth2] Implement Client Credentials Flow

[RFC 6749 section 4.4](https://tools.ietf.org/html/rfc6749#section-4.4)

This is the `application` flow type in OpenAPI (Swagger) Specification.


This seems to work fine out of the box:

```
$ curl 'http://127.0.0.1:5000/auth/oauth2/token?grant_type=client_credentials' \
    --user 'documentation:KQ()SWK)SQK)QWSKQW(SKQ)S(QWSQW(SJ*HQ&HQW*SQ*^SSQWSGQSG'
```

Where `documentation` is the Client ID, and the long key after `:` is the Client Secret Key.

@frol We don't receive `refresh_token` in this case. Does it mean we should get a new token instead of refreshing?

@khorolets Correct!